<div class="profile-card" style="background-color:#3f51b5;height:65px;color:whitesmoke">
  <span style="position:relative;top:15px;left:5px;"> APP LOGO </span>
</div>
<div class="profile-card" routerLink="{{'/dashboard/user-profile'}}">
  <div class="header">
  </div>
  <img src="../../../../assets/person.png" alt="Soufiane FADIL">
</div>
<mat-divider></mat-divider>
<mat-nav-list>
  <span *ngFor="let item of menu">
    <span *ngIf="item.children && item.children.length > 0">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <!-- Cabeceras del submenu -->
              <div fxLayout="row" fxLayoutAlign="space-between center" >
                <mat-icon>{{item.iconName}}</mat-icon>
                {{item.displayName}}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <span *ngFor="let child of item.children">
            <mat-list-item routerLink="{{item.route}}">
              <div fxLayout="row" fxLayoutAlign="space-between center" >
                <mat-icon>{{child.iconName}}</mat-icon>
                {{child.displayName}}
              </div>
            </mat-list-item>
          </span>
        </mat-expansion-panel>
      </mat-accordion>
    </span>
    <span *ngIf="!item.children || item.children.length === 0">
      <mat-list-item routerLink="{{item.route}}">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon>{{item.iconName}}</mat-icon>
          {{item.displayName}}
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </span>
  </span>
</mat-nav-list>

