<div class="container">
  <div class="form-group">
    <!-- <label>Enter address</label> -->
    <input type="text" class="form-control" style="width: 1050px;" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="choosenLocation($event)">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
</div>
