<div class="row page-titles">
    <div class="col-md-5 col-sm-6 align-self-center">
        <h4 class="m-b-0 m-t-0">{{pageInfo?.title}}</h4>
    </div>
    <div class="col-md-7 col-sm-6 align-self-center">
        <ol class="breadcrumb m-t-0">
            <ng-template ngFor let-url [ngForOf]="pageInfo?.urls" let-last="last">
                <li class="breadcrumb-item" *ngIf="!last && !url.url">
                    <a>{{url.title}}</a>
                </li>
                <li class="breadcrumb-item" *ngIf="!last && url.url" [routerLink]="url.url" role="button">
                    <a>{{url.title}}</a>
                </li>
                <li class="breadcrumb-item active" *ngIf="last">{{url.title}}</li>
            </ng-template>
        </ol>
    </div>
</div>
