.page-titles {
    background: white;
    padding: 15px;
    margin-bottom: 25px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}
h4 {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 300;
}
.breadcrumb {
    background: none;
    margin-bottom: 0px;
    float: right;
    padding: 0;
}
.breadcrumb .active {
    color: #3f51b5;
}
a {
    color: rgba(0, 0, 0, 0.5);
}
a:hover {
    color: rgba(0, 0, 0, 1);
}
