.login-sidebar {
  margin: 0px;
  padding-top:6rem;
}
.login-sidebar .login-box {
  position: static;
  height:auto;
  width: 700px;
  margin: 0 auto;
}
.card {
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1);
  min-height: 0px;
}
.logo-container {
  width:177px;
  height:auto;
  margin:0 auto;
  padding: 40% 0 0;
}

.f20{font-size: 20px;}
.f22{font-size: 22px;}
.light-white{color: rgba(255,255,255,0.7);}

a:hover{
  text-decoration: none;
  cursor:pointer
}

