<section class="login-sidebar">
   <div class="login-box card">
     <div class="card-body p-0">
       <div class="row m-0">
         <div class="col-lg-5 col-md-5 text-white bg-primary py-5 text-center">
             <h2>Sign up</h2>
             <p>Registration necessarily provides more personal information to a system than it would otherwise have. Even if the credentials used are otherwise meaningless.</p>
             <button type="button" class="btn btn-primary active" (click)="register()">Register Now!</button>
         </div>
         <div class="col-lg-7 col-md-7">
           <form autocomplete="off" [formGroup]="loginForm" novalidate id="loginForm" class="form-horizontal form-material" style="padding: 15px;">
            <div class="form-group">
              <div class="col-xs-12" style=" border-bottom:1px solid #eee; padding:0 0 5px; margin:15px 0 25px;">
                <h3 style="color:#333;">
                  Login</h3>
                  <p class="text-muted">Sign In to your account</p>
              </div>
            </div>
             <div class="form-group" [ngClass]="{'has-danger': f.email.invalid && (f.email.dirty || f.email.touched),
                                              'has-success': f.email.valid && (f.email.dirty || f.email.touched)}">
               <label for="email" class="form-control-label">User Name</label>
               <input id="email" type="email" class="form-control" placeholder="Enter your email" formControlName="email" required/>
               <span *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                     class="form-control-feedback">
                      <p *ngIf="f.email.errors?.required">Email is required</p>
                      <p *ngIf="f.email.errors?.pattern">Please enter a valid email address</p>
                    </span>
             </div>
             <div class="form-group" [ngClass]="{'has-danger': f.password.invalid && (f.password.dirty || f.password.touched),
                                                      'has-success': f.password.valid && (f.password.dirty || f.password.touched)}">
               <label for="password" class="form-control-label">Password</label>
               <input id="password" type="password" class="form-control" placeholder="Enter your password" formControlName="password"  required/>
               <span class="form-control-feedback" *ngIf="f.password.errors && (f.password.dirty || f.password.touched)">
                      <p *ngIf="f.password.errors.required">Password is required</p>
                      <p *ngIf="f.password.errors.pattern">Password must be UpperCase, LowerCase and Number characters </p>
                    </span>
             </div>
             <div class="row">
               <div class="col-6">
                 <button type="button" class="form-control btn btn-primary px-4" id="login" [disabled]="loginForm.invalid" (click)="login()">Login</button>
               </div>
               <div class="col-6 text-right" style="margin-top: 5px">
                 <a href="javascript:void(0)" id="to-recover" class="btn-link"><i class="fa fa-lock "></i> Forgot Password?</a>
               </div>
             </div>
           </form>
           <form autocomplete="off" class="form-horizontal form-material" [formGroup]="forgotForm" id="recoverForm"
                 style="display:none;padding: 15px;">

             <div class="form-group">
               <div class="col-xs-12">
                 <h3 style="color:#333; border-bottom:1px solid #eee; padding:0 0 5px; margin:15px 0 25px;">
                   Forgot Password</h3>
               </div>
             </div>
             <div class="form-group ">
               <div class="col-xs-12">
                 <div class="form-group" [ngClass]="{'has-danger': f1.email.invalid && (f1.email.dirty || f1.email.touched),
                                              'has-success': f1.email.valid && (f1.email.dirty || f1.email.touched)}">
                   <label for="forgotEmail" class="form-control-label">Enter Registered Email Address</label>
                   <input id="forgotEmail" type="email" class="form-control" placeholder="Enter your email" formControlName="email" required/>
                   <span *ngIf="f1.email.invalid && (f1.email.dirty || f1.email.touched)"
                         class="form-control-feedback">
                      <p *ngIf="f1.email.errors?.required">Email is required</p>
                      <p *ngIf="f1.email.errors?.pattern">Please enter a valid email address</p>
                    </span>
                 </div>
               </div>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-6">
                   <button class="btn btn-block btn-primary waves-effect waves-light"
                           (click)="loginPage()" style="margin-right: 10px"> <i class="fa fa-chevron-left"></i> Back</button>
                 </div>
                 <div class="col-6">
                 <button [disabled]="forgotForm.invalid" class="btn btn-success btn-block waves-effect waves-light" (click)="forgotPassword()"><i
                   class="fa fa-mobile f20 text-left"></i> Send OTP</button>
                 </div>
               </div>
             </div>
           </form>
           <form autocomplete="off" class="form-horizontal form-material" id="resetPasswordForm" [formGroup]="resetForm"
                 style="display:none">
             <div class="form-group">
               <div class="col-xs-12">
                 <h3 style="color:#333; border-bottom:1px solid #eee; padding:0 0 5px; margin:15px 0 25px;">Generate Password</h3>
               </div>
             </div>
             <div class="col-xs-12 form-group" [ngClass]="{'has-danger': f2.otp.invalid && (f2.otp.dirty || f2.otp.touched),
                                                    'has-success': f2.otp.valid && (f2.otp.dirty || f2.otp.touched)}">
               <label for="otp" class="form-control-label">OTP</label>
               <input id="otp" type="text" class="form-control" placeholder="Enter your OTP" formControlName="otp"  required/>
               <span class="form-control-feedback"
                     *ngIf="f2.otp.errors && (f2.otp.dirty || f2.otp.touched)">
                      <p *ngIf="f2.otp.errors.required">OTP is required</p>
                    </span>
             </div>
             <div class="col-xs-12 form-group" [ngClass]="{'has-danger': f2.newPassword.invalid && (f2.newPassword.dirty || f2.newPassword.touched),
                                                    'has-success': f2.newPassword.valid && (f2.newPassword.dirty || f2.newPassword.touched)}">
               <label for="newPassword" class="form-control-label">New Password</label>
               <input id="newPassword" type="password" class="form-control" placeholder="Enter your new password" formControlName="newPassword"  required/>
               <span class="form-control-feedback"
                     *ngIf="f2.newPassword.errors && (f2.newPassword.dirty || f2.newPassword.touched)">
                      <p *ngIf="f2.newPassword.errors.required">Password is required</p>
                      <p *ngIf="f2.newPassword.errors.pattern">Password must be UpperCase, LowerCase and Number characters </p>
                    </span>
             </div>
             <div class="col-xs-12 form-group" [ngClass]="{'has-danger': f2.confirmNewPassword.invalid && (f2.confirmNewPassword.dirty || f2.confirmNewPassword.touched),
                                                    'has-success': f2.confirmNewPassword.valid && (f2.confirmNewPassword.dirty || f2.confirmNewPassword.touched)}">
               <label for="confirmNewPassword" class="form-control-label">Confirm New Password</label>
               <input id="confirmNewPassword" type="password" class="form-control" placeholder="Retype the password" formControlName="confirmNewPassword"  required/>
               <span class="form-control-feedback"
                     *ngIf="f2.confirmNewPassword.errors && (f2.confirmNewPassword.dirty || f2.confirmNewPassword.touched)">
                      <p *ngIf="f2.confirmNewPassword.errors?.required">Confirm Password is required</p>
                      <p *ngIf="f2.confirmNewPassword.errors?.mustMatch">Password and Confirm Password must be Equal</p>
                    </span>
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-6">
                   <button class="btn btn-block btn-primary waves-effect waves-light"
                           (click)="restBack()"> <i class="fa fa-chevron-left"></i>Back</button>
                 </div>
                 <div class="col-6">
                  <button [disabled]="resetForm.invalid" class="btn btn-success btn-block waves-effect waves-light" (click)="resetPassword()">Submit<i class="fa fa-chevron-right"></i></button>
                 </div>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>

  <!-- <div class="text-center mt-5">
     <p class="text-center light-white m-0"><small>© 2019 OSS. All rights reserved.</small></p>
   </div>-->
   <ngx-spinner
     size = "medium"
     color = "#0275d8"
     type = "ball-newton-cradle"
   >
     <p style="color: white" > Loading... </p>
   </ngx-spinner>
 </section>

