<mat-sidenav-container class="all-wrap"
                       [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="page-wrap">
        <app-header (toggleSideBarForMe)="sideBarToggler($event)">
        </app-header>
        <app-bread-crumb></app-bread-crumb>
        <section class="content container-fluid">
          <router-outlet></router-outlet>
        </section>
        <app-footer>
        </app-footer>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>



