:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer-container {
  height: 100%;
  font-weight:normal;
  font-size:10px;
}

mat-drawer-content {
  padding: 20px;
}


* Actual Sticky Footer Styles
.all-wrap {
  min-height: 100vh !important;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


/*
 * Make the Component injected by Router Outlet full height:
 */
.content {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}


