
     <section style="width:650px;height: 500px">
       <div class="card">
         <div class="card-header text-center"   style="background-color: #3f51b5;color: white;">
          Create your profile
         </div>
         <div class="card-body text-center p-3">
           <form autocomplete="off">
             <div class="profile-pic">
               <img [src]="previewUrl" height="300" alt="profile" />
               <div class="edit">
                 <i class="fa fa-pencil fa-lg ">
                   <input type="file" name="image" style="opacity:0" (click)="fileProgress($event)" />
                 </i>
               </div>

             </div>
             <div class="row">
               <div class="col-sm-6">
                 <mat-form-field>
                   <mat-label>First Name</mat-label>
                   <input matInput placeholder="Enter your First Name" formControlName="firstName" id="firstName">
                   <mat-icon matSuffix>perm_identity</mat-icon>
                 </mat-form-field>
               </div>
               <div class="col-sm-6">
                 <mat-form-field>
                   <mat-label>Last Name</mat-label>
                   <input matInput placeholder="Enter your Last Name" formControlName="lastName" id="lastName">
                   <mat-icon matSuffix>perm_identity</mat-icon>
                 </mat-form-field>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-6">
                 <mat-form-field>
                   <mat-label>Email</mat-label>
                   <input matInput placeholder="Enter your email address">
                   <mat-icon matSuffix>mail</mat-icon>
                 </mat-form-field>
               </div>
               <div class="col-sm-6">
                 <mat-form-field>
                   <mat-label>Mobile Number</mat-label>
                   <input matInput placeholder="Enter your mobile number">
                   <mat-icon matSuffix>settings_phone</mat-icon>
                 </mat-form-field>
               </div>
             </div>
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Gender</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let gender of genderList" [value]="gender.value">
                      {{gender.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>face</mat-icon>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field>
                  <mat-label>Date Of Birth</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date of birth" formControlName="dateOfBirth" id="dateOfBirth"
                         readonly (click)="picker.open()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
           </form>
         </div>

         <div class="card-footer">
           <div class="row">
             <div class="col-sm-6" style="padding-left: 50px">
               <button class="btn-block" mat-raised-button color="warn">Cancel</button>
             </div>
             <div class="col-sm-6" style="padding-right: 50px">
               <button class="btn-block" mat-raised-button color="primary">Create</button>
             </div>
           </div>
         </div>
       </div>
     </section>





