.profile-pic {
  text-align: center;
  padding: 0 20px 20px 20px;
}
.profile-pic img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border:1px solid gray;
}


.profile-pic {
  position: relative;
  display: inline-block;
}

.profile-pic:hover .edit {
 display: block;
}

.edit {
  padding-top: 7px;
  padding-right: 7px;
  position: absolute;
  right: 10%;
  top: 0;
  display: none;
}
.profile-pic:hover{
  opacity: 0.5;
  transition: .3s ease;
}
